
.fadeIn, .scale, .slideRight, .slideRight200, .slideLeft, .slideLeft50, .slideDown, .slideDown200, .slideUp {
    animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    visibility: visible !important;
}
.fadeIn {
    animation-name: fadeIn;
}
@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.scale {
    animation-name: scale;
}
@keyframes scale {
0% {
    transform: scale(0.2);
}
100% {
    transform: scale(1);
}
}
@keyframes scale {
0% {
    transform: scale(0.2);
}
100% {
    transform: scale(1);
}
}
.slideRight {
    animation-name: slideRight;
}
@keyframes slideRight {
0% {
    opacity: 0;
    transform: translateX(-100%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
@keyframes slideRight {
0% {
    opacity: 0;
    transform: translateX(-100%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
.slideRight200 {
    animation-name: slideRight200;
}
@keyframes slideRight200 {
0% {
    opacity: 0;
    transform: translateX(-200%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
@keyframes slideRight200 {
0% {
    opacity: 0;
    transform: translateX(-200%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
.slideLeft {
    animation-name: slideLeft;
}
@keyframes slideLeft {
0% {
    opacity: 0;
    transform: translateX(100%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
@keyframes slideLeft {
0% {
    opacity: 0;
    transform: translateX(100%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
.slideLeft50 {
    animation-name: slideLeft50;
}
@keyframes slideLeft50 {
0% {
    opacity: 0;
    transform: translateX(50%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
@keyframes slideLeft50 {
0% {
    opacity: 0;
    transform: translateX(50%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
.slideDown {
    animation-name: slideDown;
}
@keyframes slideDown {
0% {
    opacity: 0;
    transform: translateY(-100%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
@keyframes slideDown {
0% {
    opacity: 0;
    transform: translateY(-100%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
.slideDown200 {
    animation-name: slideDown200;
}
@keyframes slideDown200 {
0% {
    opacity: 0;
    transform: translateY(-100%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
@keyframes slideDown200 {
0% {
    opacity: 0;
    transform: translateY(-100%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
.slideUp {
    animation-name: slideUp;
}
@keyframes slideUp {
0% {
    opacity: 0;
    transform: translateY(100%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
@keyframes slideUp {
0% {
    opacity: 0;
    transform: translateY(100%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
