html, body, div, span, applet, object, iframe, p, blockquote,
a, abbr, acronym, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1.5;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.page_left_2 ol,.page_left_2 ul {
	list-style: inside none disc;
	padding: 0;
	 margin: 10px 0;
}
.page_left_2 li {
	   line-height: 150%;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	/*border-spacing: 0;*/
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
