
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
body {
    background: #d8d8d8 none repeat scroll 0 0;
    color: #666;
    font-family: "Arial";
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.site_container {
    background-color: #f8f8f8;
    margin-left: auto;
    margin-right: auto;
    max-width: 1590px;
}
.site_container.narrow {
    max-width: 1090px;
}
a {
    border-bottom: 1px dotted #3156a3;
    color: #3156a3;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    border-style: solid;
}
p {
    color: #666;
    line-height: 150%;
    padding: 1em 0;
}
strong {
    color: #000;
}
blockquote {
    border-left: 2px solid #3156a3;
    color: #3156a3;
    font-family: "Volkhov";
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 25px;
    padding-left: 25px;
}
pre {
    background: rgba(0, 0, 0, 0) url("../images/code_background.png") repeat scroll 0 0;
    font-family: "Courier new";
    font-size: 14px;
    line-height: 170%;
    margin: 0;
    overflow: auto;
    padding: 0 5px;
    text-shadow: 0 1px 0 #fff;
}
.relative {
    position: relative;
}
input, textarea {
    font-family: arial;
    font-size: 13px;
}
.margin_top_10 {
    margin-top: 10px;
}
.margin_left_10 {
    margin-left: 10px;
}
.list li {
    color: #666;
}
h1, h2, h3, h4, h5 {
    color: #000;
    font-family: "PT Sans";
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #000;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
	 margin: 10px 0;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 13px;
}
h1.not_found {
    color: #e8e8e8;
    font-size: 150px;
}
.box_header::after {
    background: #42b3e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    margin-top: 10px;
    visibility: hidden;
    width: 50px;
}
.box_header.slide::after {
    animation-duration: 0.6s;
    animation-name: slide;
    animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    visibility: visible;
}
@keyframes slide {
0% {
    width: 0;
}
100% {
    width: 50px;
}
}
@keyframes slide {
0% {
    width: 0;
}
100% {
    width: 50px;
}
}
.box_header.margin {
    margin-top: 27px;
}
.sentence {
    color: #3156a3;
    font-family: "Volkhov";
    font-style: italic;
    line-height: 150%;
    margin-top: 25px;
}
.sentence_author {
    color: #909090;
    float: right;
    font-style: normal;
    margin-top: 10px;
}
.info {
    padding: 25px 0 28px;
}
.header_container {
    background-color: #fff;
}
.header {
    margin-left: auto;
    margin-right: auto;
    width: 990px;
    position: relative;
    height:100px;
    top: 10px;
}
.header_left {
    float: left;
    width: 320px;
    position: relative;
    /*top:20px;*/
}
.phone {
    color: #42b3e5;
    font-weight: bold;
    font-size: 23px;
   /* position: absolute;*/
    left: 48px;
    top: 40px;
}
.adress {
    color: #42b3e5;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 42px;
    right: 0;
}
.adresstwo {
    color: #42b3e5;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 62px;
    right: 0;
}
.header_right {
    float: right;
}
.header_left a {
    display: block;
}
.header_left a, .logo {
    font-family: "PT Sans";
    font-size: 30px;
}
.header_left a:hover {
    text-decoration: none;
}
.header_left a img {
    float: left;
    margin-right: 20px;
}
.logo {
    color: #000000;
    float: left;
    padding-top: 3px;
}
.sf-menu {
    margin: 0;
    padding: 0;
}
.sf-menu li {
    height: 45px;
    margin-left: 5px;
}
.sf-menu li:first-child {
    margin-left: 0;
}
.sf-menu li, .sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    background: #fff none repeat scroll 0 0;
}
.sf-menu li a, .sf-menu li a:visited {
    border: 1px solid #fff;
    color: #888;
    font-family: "arial";
    padding: 15px;
}
.sf-menu li:hover a, .sf-menu li.selected a {
    background: #42b3e5 none repeat scroll 0 0;
    color: #fff;
}
.sf-menu li.submenu:hover a {
    background: #fff none repeat scroll 0 0;
    border-color: #e8e8e8 #e8e8e8 #fff;
    color: #000;
}
.sf-menu li.submenu:hover::after {
    background: #e8e8e8 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 1px;
    z-index: 5;
}
.sf-menu li.submenu:hover a {
    z-index: 5;
}
.sf-menu li ul {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    padding-bottom: 10px;
    width: 190px;
}
.sf-menu li ul.wide {
    width: 200px;
}
.sf-menu li ul.wide li {
    width: 170px;
}
.sf-menu li.submenu.wide ul {
    width: 380px;
}
.contact_form  .sf-menu li.submenu.wide ul {
    width: 480px;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    top: 44px;
}
.sf-menu li ul li {
    background-color: #fff;
    height: auto;
    margin-left: 0;
    padding: 0 15px;
    width: 160px;
}
.contact_form .sf-menu li ul li {

    width: 100%;
}
.sf-menu li:hover ul a, .sf-menu li.submenu:hover ul a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #e8e8e8;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #888;
    padding: 15px 0;
}
.sf-menu li.submenu:hover ul {
    z-index: 4;
}
.sf-menu li ul li a {
    font-size: 12px;
    padding: 15px 0;
}
.sf-menu li ul li a:hover, .sf-menu li ul li.selected a, .sf-menu li.submenu ul li a:hover, .sf-menu li.submenu:hover ul li.selected a, .sf-menu li.submenu:hover ul li.selected ul li a:hover, .sf-menu li.submenu:hover ul li ul li.selected a, .sf-menu li.submenu:hover ul li.selected ul li.selected a {
    border-bottom: 2px solid #42b3e5;
    color: #000;
    padding-bottom: 14px;
}
.sf-menu li.submenu:hover ul li.selected ul li a {
    border-bottom: 1px solid #e8e8e8;
    color: #888;
    padding-bottom: 15px;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul, ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
    left: 180px;
    top: -1px;
}
.sf-menu .timetable_submenu {
    margin-left: -280px;
}
.mobile_menu {
    display: none;
    float: right;
    padding: 12px 0;
}
.mobile_menu select {
    border: 1px solid #e0e0e0;
}
.page {
    border-top: 8px solid #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    width: 990px;
}
.page.noborder {
    border: medium none;
}
.page_left {
    float: left;
    width: 630px;
}
.left_sidebar .page_left {
    float: right;
}
.page_left_2 {
  /*  float: left;*/
  /*  width: 630px;*/
}
.left_sidebar .page_left_2 {
    /*float: right;*/
}
.page_right {
    float: right;
    width: 330px;
}
.left_sidebar .page_right {
    float: left;
}
.page_margin_top {
    margin-top: 30px;
}
.page_margin_top_section {
    margin-top: 50px;
}
.top_hint {
    background-color: #42b3e5;
    color: #fff;
    float: right;
    margin-top: -70px;
    padding: 9px 10px;
    position: relative;
}
.page_right .home_box {
    height: auto;
}
.page_header {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 30px;
}
.page_header_left {
    float: left;
    width: 670px;
}
.page_header_right {
    float: right;
}
.page_header_left .page_title {
    float: left;
}
.search {
}
.search input {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #000;
    float: left;
    margin: 0;
    padding: 11px 18px;
}
.search .search_input {
    background: #f0f0f0 none repeat scroll 0 0;
    border-top: 1px solid #e0e0e0;
    transition: width 0.5s ease 0s;
    width: 174px;
}
.search .search_input:focus {
    border-color: #42b3e5;
    width: 205px;
}
.bread_crumb {
    float: left;
    margin-left: 20px;
    padding: 17px 0 0;
}
.bread_crumb li {
    float: left;
    font-size: 11px;
    margin-left: 3px;
}
.bread_crumb li:first-child {
    margin-left: 0;
}
.bread_crumb li.separator {
    padding: 0 4px;
    text-decoration: none;
    width: 8px;
}
.bread_crumb li a:hover {
    color: #3156a3;
}
.footer_container {
    background-color: #202020;
}
.footer {
    margin-left: auto;
    margin-right: auto;
    width: 990px;
}
.footer .box_header {
    color: #fff;
}
.footer a {
    color: #d5d5d5;
}
.animated_element {
    position: relative;
    visibility: hidden;
}
.icon_small_arrow {
    background-position: center center;
    background-repeat: no-repeat;
}
.icon_small_arrow.left_black {
    background-image: url("../images/icon_arrow_left_black.png");
}
.icon_small_arrow.right_black {
    background-image: url("../images/icon_arrow_right_black.png");
}
.icon_small_arrow.margin_right_black {
    background-image: url("../images/icon_arrow_margin_right_black.png");
}
.icon_small_arrow.left_white {
    background-image: url("../images/icon_arrow_left_white.png");
}
.icon_small_arrow.margin_right_white {
    background-image: url("../images/icon_arrow_margin_right_white.png");
}
.icon_small_arrow.right_white {
    background-image: url("../images/icon_arrow_right_white.png");
}
.icon_small_arrow.top_white {
    background-image: url("../images/icon_arrow_top_white.png");
}
.icon_small_arrow.top_black {
    background-image: url("../images/icon_arrow_top_black.png");
}
.icon_small_arrow.right_gray {
    background-image: url("../images/icon_arrow_right_gray.png");
}
.icon_small_arrow.square {
    background-image: url("../images/icon_arrow_square.png");
}
.icon_small_arrow.mark {
    background-image: url("../images/icon_arrow_mark.png");
}
.icon_small_arrow.tick {
    background-image: url("../images/icon_tick.png");
}
.icon_clock_green {
    background-image: url("../images/icon_clock_green.png");
}
.icon_clock_black {
    background-image: url("../images/icon_clock_black.png");
}
.icon_card_green {
    background-image: url("../images/icon_card_green.png");
}
.icon_card_white {
    background-image: url("../images/icon_card_white.png");
}
.social_icon {
    background-repeat: no-repeat;
    display: block;
    height: 29px;
    transition: background-position 0.3s ease 0s;
    width: 29px;
}
a.social_icon:hover {
    background-position: 0 -29px;
    text-decoration: none;
    transition: background-position 0.3s ease 0s;
}
.social_icon.blogger {
    background-image: url("../images/social_body/blogger.png");
}
.social_icon.deviantart {
    background-image: url("../images/social_body/deviantart.png");
}
.social_icon.dribble {
    background-image: url("../images/social_body/dribble.png");
}
.social_icon.envato {
    background-image: url("../images/social_body/envato.png");
}
.social_icon.facebook {
    background-image: url("../images/social_body/facebook.png");
}
.social_icon.flickr {
    background-image: url("../images/social_body/flickr.png");
}
.social_icon.form {
    background-image: url("../images/social_body/form.png");
}
.social_icon.forrst {
    background-image: url("../images/social_body/forrst.png");
}
.social_icon.googleplus {
    background-image: url("../images/social_body/googleplus.png");
}
.social_icon.linkedin {
    background-image: url("../images/social_body/linkedin.png");
}
.social_icon.mail {
    background-image: url("../images/social_body/mail.png");
}
.social_icon.myspace {
    background-image: url("../images/social_body/myspace.png");
}
.social_icon.phone {
    background-image: url("../images/social_body/phone.png");
}
.social_icon.picasa {
    background-image: url("../images/social_body/picasa.png");
}
.social_icon.skype {
    background-image: url("../images/social_body/skype.png");
}
.social_icon.soundcloud {
    background-image: url("../images/social_body/soundcloud.png");
}
.social_icon.stumbleupon {
    background-image: url("../images/social_body/stumbleupon.png");
}
.social_icon.tumblr {
    background-image: url("../images/social_body/tumblr.png");
}
.social_icon.twitter {
    background-image: url("../images/social_body/twitter.png");
}
.social_icon.vimeo {
    background-image: url("../images/social_body/vimeo.png");
}
.social_icon.xing {
    background-image: url("../images/social_body/xing.png");
}
.social_icon.youtube {
    background-image: url("../images/social_body/youtube.png");
}
.footer .social_icon.blogger {
    background-image: url("../images/social_footer/blogger.png");
}
.footer .social_icon.deviantart {
    background-image: url("../images/social_footer/deviantart.png");
}
.footer .social_icon.dribble {
    background-image: url("../images/social_footer/dribble.png");
}
.footer .social_icon.envato {
    background-image: url("../images/social_footer/envato.png");
}
.footer .social_icon.facebook {
    background-image: url("../images/social_footer/facebook.png");
}
.footer .social_icon.form {
    background-image: url("../images/social_footer/form.png");
}
.footer .social_icon.flickr {
    background-image: url("../images/social_footer/flickr.png");
}
.footer .social_icon.forrst {
    background-image: url("../images/social_footer/forrst.png");
}
.footer .social_icon.googleplus {
    background-image: url("../images/social_footer/googleplus.png");
}
.footer .social_icon.linkedin {
    background-image: url("../images/social_footer/linkedin.png");
}
.footer .social_icon.mail {
    background-image: url("../images/social_footer/mail.png");
}
.footer .social_icon.myspace {
    background-image: url("../images/social_footer/myspace.png");
}
.footer .social_icon.phone {
    background-image: url("../images/social_footer/phone.png");
}
.footer .social_icon.picasa {
    background-image: url("../images/social_footer/picasa.png");
}
.footer .social_icon.skype {
    background-image: url("../images/social_footer/skype.png");
}
.footer .social_icon.soundcloud {
    background-image: url("../images/social_footer/soundcloud.png");
}
.footer .social_icon.stumbleupon {
    background-image: url("../images/social_footer/stumbleupon.png");
}
.footer .social_icon.tumblr {
    background-image: url("../images/social_footer/tumblr.png");
}
.footer .social_icon.twitter {
    background-image: url("../images/social_footer/twitter.png");
}
.footer .social_icon.vimeo {
    background-image: url("../images/social_footer/vimeo.png");
}
.footer .social_icon.xing {
    background-image: url("../images/social_footer/xing.png");
}
.footer .social_icon.youtube {
    background-image: url("../images/social_footer/youtube.png");
}
.social_icons {
    margin-top: 30px;
}
.social_icons li {
    float: left;
    margin-left: 5px;
}
.social_icons li:first-child {
    margin-left: 0;
}
.notification_box {
    line-height: 150%;
    padding: 20px 30px 20px 80px;
}
.notification_box h2, .notification_box h2 a, .notification_box h3, .notification_box h3 a, .notification_box h5, .notification_box h5 a {
    color: #fff;
}
.notification_box h5 {
    font-family: arial;
    margin-top: 5px;
}
.notification_box.nb_success {
    background: #5faa4b url("../images/notification_success.png") no-repeat scroll 20px center;
}
.notification_box.nb_error {
    background: #eb6d58 url("../images/notification_error.png") no-repeat scroll 20px center;
}
.notification_box.nb_info {
    background: #42b3e5 url("../images/notification_info.png") no-repeat scroll 20px center;
}
.closing_in {
    color: #909090;
    display: block;
    float: right;
    font-size: 11px;
    margin-top: 5px;
}
.vertical_align {
    display: table-row;
}
.vertical_align_cell {
    display: table-cell;
    vertical-align: middle;
}
.caroufredsel_wrapper {
    margin: 0 !important;
    overflow: hidden;
    width: 100% !important;
}
.caroufredsel_wrapper_slider {
}
.slider {
    padding: 0;
}
.slider li {
    background-position: center top;
    background-repeat: no-repeat;
    float: left;
    height: 670px;
}
.slider li .slider_img {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
}
.slider_content_box {
    margin-top: -577px;
    min-height: 367px;
    position: relative;
}
.slider_content {
    display: none;
    padding-bottom: 17px;
    padding-top: 11px;
}
.slider_content::after {
    content: "";
}
.slider_content .subtitle {
    color: #fff;
    line-height: 150%;
    margin-top: 19px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.slider_content h1 {
    color: #fff;
    font-size: 72px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.slider_navigation {
    bottom: 0;
    clear: both;
    position: absolute;
    width: 100%;
}
.slider_navigation .slider_control {
    float: left;
}
.slider_navigation .slider_control a {
    color: #fff;
    display: block;
    font-size: 11px;
    height: 41px;
    line-height: 160%;
    padding: 0;
}
.slider_navigation .slider_control a:hover {
    text-decoration: none;
}
.slider_navigation .top_border {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 1px;
    opacity: 0.4;
    width: 100%;
}
.slider_navigation .slider_control .slider_control_bar {
    background-color: #ffffff;
    display: none;
    height: 4px;
    margin-top: -4px;
}
.slider_navigation .slider_bar {
    background: #fff none repeat scroll 0 0;
    height: 4px;
    margin-bottom: -1px;
    margin-left: 0;
    position: relative;
}
.home_box_container .home_box:first-child {
    z-index: 3;
}
.home_box_container .home_box:last-child {
    z-index: 1;
}
.home_box {
    float: left;
    height: 159px;
    padding: 21px 30px 30px;
    width: 270px;
    z-index: 2;
}
.home_box h2, .home_box h2 a {
    color: #fff;
}
.home_box h3 {
    color: #fff;
    font-style: italic;
    margin-top: 5px;
}
.home_box.light_blue {
    background-color: #42b3e5;
}
.home_box.blue {
    background-color: #0384ce;
}
.home_box.dark_blue {
    background-color: #3156a3;
}
.home_box.dark h3 {
    color: #999;
}
.home_box .header_left {
    width: 198px;
}
.home_box .header_right {
    width: 62px;
}
.home_box .news {
    line-height: 150%;
    margin-top: 21px;
}
.home_box .news .text {
    color: #fff;
    padding: 0;
}
.home_box .more {
    margin-top: 25px;
}
.home_box .more.light {
    border-color: #fff;
    color: #fff;
}
.home_box .more.light:hover {
    background-image: url("../images/icon_arrow_margin_right_black.png");
}
.items_list {
}
.items_list.margin_top {
    margin-top: 8px;
}
.items_list li {
    background-position: left center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #e0e0e0;
    line-height: 120%;
    padding: 12px 0;
}
.items_list.simple li {
    padding-left: 10px;
}
.items_list li:first-child {
    padding-top: 0;
}
.items_list li.icon_clock_black {
    padding-left: 25px;
}
.items_list li.icon_clock_black:first-child {
    padding-top: 12px;
}
.items_list a, .items_list span {
    color: #000;
    float: left;
    font-weight: bold;
}
.items_list.thin a, .items_list.thin span {
    font-weight: normal;
}
.items_list .value {
    color: #666;
    float: right;
}
.items_list.dark_blue li span, .items_list.dark_blue .value {
    color: #fff;
}
.items_list.dark_blue li {
    border-color: #4468b2;
}
.home_box .items_list li:first-child {
    padding-top: 12px;
}
.scrolling_list_wrapper {
    margin-top: 16px;
}
.scrolling_list {
}
.scrolling_list_control_left, .scrolling_list_control_right {
    float: left;
    height: 28px;
    width: 28px;
}
.scrolling_list_control_right {
    margin-left: 2px;
}
.scrolling_list li {
    background-position: left 18px;
    color: #c5c5c5;
    line-height: 150%;
    padding: 10px 0 10px 18px;
    width: 312px;
}
.scrolling_list li a {
    border: medium none;
    clear: both;
    color: #666;
    float: left;
}
.footer .scrolling_list li a {
    color: #d5d5d5;
}
.scrolling_list.latest_tweets li a {
    float: none;
}
.scrolling_list.latest_tweets li p {
    padding: 0;
}
.scrolling_list li .left {
    float: left;
    width: 275px;
}
.scrolling_list li .number {
    color: #666;
    float: right;
    font-size: 11px;
    line-height: 1;
    margin-left: 5px;
    padding: 8px 0;
    text-align: center;
    width: 30px;
}
.footer .timeago {
    color: #42b3e5;
}
.timeago {
    clear: both;
    color: #909090;
    display: block;
    font-size: 11px;
    margin-top: 2px;
    text-decoration: none;
}
.columns.full_width .scrolling_list li {
    width: 462px;
}
.columns.full_width .scrolling_list li .left {
    width: 425px;
}
.more {
    color: #3156a3;
    float: left;
    line-height: normal;
}
.more.dark_blue, .more.light, .more.blue {
    background-position: right center;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 8px 7px;
}
.more.dark_blue:hover, .more.light:hover, .more.blue:hover {
    text-decoration: none;
}
.more.dark_blue, .more.blue:hover {
    background-color: #42b3e5;
    border: 1px solid #42b3e5;
}
.more.dark_blue:hover {
    background-color: #3156a3;
    border-color: #3156a3;
}
.more.light {
    border-color: #e0e0e0;
    color: #666;
}
.more.light:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}
.more.blue {
    background-color: #3156a3;
    border-color: #3156a3;
}
.more.tiny {
    font-size: 11px;
    padding: 4px 8px;
}
.more.medium {
    padding: 9px 15px;
}
.more.large {
    font-size: 15px;
    padding: 15px 20px;
}
.more.icon_small_arrow {
    padding: 5px 24px 7px 8px;
}
.more.icon_small_arrow.tiny {
    padding: 4px 24px 4px 8px;
}
.more.icon_small_arrow.medium {
    padding: 9px 24px 9px 15px;
}
.more.icon_small_arrow.large {
    padding: 15px 24px 15px 20px;
}
.blog {
}
.comment_box {
    float: left;
    margin-right: 25px;
    text-align: center;
    width: 85px;
}
.columns .comment_box {
    clear: both;
    margin-bottom: 25px;
    margin-right: 0;
    width: 100%;
}
.post {
    float: left;
    margin-top: 30px;
}
.comment_box li {
    width: 100%;
}
.columns .comment_box li {
    float: left;
    width: auto;
}
.comment_box .date {
    z-index: 2;
}
.comment_box .date .value {
    background-color: #3156a3;
    color: #fff;
    float: left;
    font-size: 11px;
    padding: 9px 10px;
    text-align: center;
    width: 60px;
}
.comment_box .date .arrow_date, .comment_box .arrow_comments {
    background: rgba(0, 0, 0, 0) url("../images/arrow_date.png") repeat scroll 0 0;
    float: right;
    height: 5px;
    width: 5px;
}
.comment_box .arrow_comments {
    background: rgba(0, 0, 0, 0) url("../images/arrow_comments.png") repeat scroll 0 0;
}
.columns .comment_box .date .value, .columns .comment_box .date .arrow_date {
    clear: both;
    float: none;
}
.columns .comment_box .date .value {
    padding: 10px 13px;
    width: auto;
}
.comment_box .comments_number {
    margin-top: 2px;
    width: 80px;
}
.columns .comment_box .comments_number {
    margin-left: 2px;
    margin-top: 0;
    width: auto;
}
.comment_box .comments_number a {
    background-color: #42b3e5;
    color: #fff;
    display: block;
    font-size: 11px;
    padding: 9px 10px;
    text-align: center;
}
.columns .comment_box .comments_number a {
    padding: 10px 12px;
}
.comment_box .comments_number:hover {
    border-color: #409915;
}
.post_content {
    border-bottom: 1px solid #e0e0e0;
    float: right;
    padding-bottom: 25px;
    width: 520px;
}
.columns .post_content {
    width: 300px;
}
.post_content a.post_image {
    display: block;
    margin-bottom: 27px;
}
.post_content a.post_image img {
    background: rgba(0, 0, 0, 0) url("../images/preloader.gif") no-repeat scroll center center;
    display: block;
    height: auto;
    min-height: 15px;
    width: 520px;
}
.post_content .gallery_box {
    margin-bottom: 27px;
    margin-top: 0;
}
.post_content .gallery_box img {
    height: auto;
    width: 520px;
}
.columns .post_content a.post_image img {
    width: 300px;
}
.post_content h2 {
    margin-bottom: 24px;
}
.post_content p, .columns .post_content p {
    line-height: 150%;
    padding-bottom: 1em;
    padding-top: 0;
}
.post_content .more {
    clear: both;
    float: none;
    line-height: 150%;
}
.post_footer {
    margin-top: 25px;
}
.post_footer_details {
    float: left;
    margin-bottom: 5px;
    margin-right: 20px;
}
.post_footer_details:last-child {
    margin-right: 0;
}
.post_footer_details li {
    color: #909090;
    float: left;
    font-size: 11px;
    margin-right: 5px;
}
.post_footer_details li:last-child {
    margin-right: 0;
}
.post_footer_details li a {
    display: block;
}
.show_all {
    margin-top: 20px;
}
.show_all .more {
    float: right;
}
.comments .comments_number a {
    float: left;
    width: 60px;
}
.comments .comments_number {
    margin-top: 0;
    width: 85px;
}
#comments_list {
    float: right;
}
#comments_list li.comment {
    border-bottom: 1px solid #e0e0e0;
    margin-top: 30px;
    padding-bottom: 30px;
    width: 520px;
}
#comments_list li.comment:first-child {
    margin-top: 0;
}
#comments_list .comment_author_avatar {
    border: 1px solid #e0e0e0;
    float: left;
    height: 73px;
    margin-right: 30px;
    width: 73px;
}
#comments_list .comment_details {
    float: left;
    width: 415px;
}
#comments_list .comment_details .posted_by {
    color: #909090;
    font-size: 11px;
    line-height: 140%;
}
#comments_list .comment_details .posted_by a {
    border: medium none;
}
#comments_list .comment_details p {
    color: #666;
    line-height: 150%;
    padding: 20px 0;
}
#comments_list .reply_button {
    line-height: 150%;
}
#comments_list .children {
    clear: both;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
}
#comments_list .children .children {
    margin-left: 0;
}
#comments_list .children li.comment {
    border-bottom: medium none;
    border-top: 1px solid #e0e0e0;
    margin-top: 0;
    padding-top: 30px;
    width: 480px;
}
#comments_list .children li.comment:last-child {
    padding-bottom: 0;
}
#comments_list .children .comment_details {
    width: 375px;
}
#comments_list .pagination {
    margin-top: 20px;
}
.comment_form_container {
    float: left;
    margin-left: 110px;
    margin-top: 25px;
}
.comment_form, .contact_form {
    float: left;
    margin-top: 30px;
    width: 100%;
}
.comment_form .left, .comment_form .right, .contact_form .left, .contact_form .right {
    float: left;
    width: 250px;
}
.contact_form .left, .contact_form .right {
    width: 300px;
}
.comment_form .right {
    float: right;
    margin-left: 20px;
}
.contact_form .right {
    margin-left: 30px;
}
.comment_form label, .contact_form label {
    color: #909090;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.comment_form label.first, .contact_form label.first {
    margin-top: 0;
}
.comment_form input, .comment_form textarea, .contact_form input, .contact_form textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f0f0f0 none repeat scroll 0 0;
    border-color: #e0e0e0 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px medium medium;
    color: #000;
    margin: 0;
    padding: 11px 18px;
}
.comment_form .text_input:focus, .comment_form textarea:focus, .contact_form .text_input:focus, .contact_form textarea:focus {
    border-color: #42b3e5;
}
.comment_form textarea {
    height: 88px;
    width: 214px;
}
.contact_form textarea {
    width: 594px;
}
.comment_form .text_input {
    width: 214px;
}
.contact_form .block {
    margin-top: 10px;
}
.contact_form .text_input {
    width: 264px;
}
.comment_form .text_input:first-child, .contact_form .block:first-child {
    margin-top: 0;
}
.comment_form input[type="submit"], .contact_form input[type="submit"] {
    cursor: pointer;
    float: right;
    height: 36px;
    margin-top: 20px;
    outline: medium none;
    padding: 5px 0 7px;
    text-align: center;
  /*  width: 70px;*/
}
#cancel_comment {
    display: none;
    float: right;
    font-size: 11px;
    margin-right: 20px;
    margin-top: 32px;
}
.contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected {
    background-position: 275px center;
    width: 276px;
}
.pagination {
    float: right;
}
.pagination li {
    float: left;
    margin-left: 2px;
}
.pagination li:first-child {
    margin-left: 0;
}
.pagination li a {
    color: #666;
    display: block;
    font-size: 11px;
    height: 12px;
    padding: 9px 11px 7px;
}
.sidebar_box {
    float: left;
    margin-top: 50px;
    overflow: hidden;
    width: 330px;
}
.sidebar_box.first {
    margin-top: 0;
}
.sidebar_box .header_left, .footer_box.last .header_left {
    width: 268px;
}
.footer_box .header_left {
    width: 238px;
}
.sidebar_box .header_right, .footer_box .header_right {
    width: 62px;
}
.sidebar_box .accordion {
    margin-top: 30px;
}
.sidebar_box .accordion .item_content p {
    padding: 0;
}
.categories li {
    color: #666;
    float: left;
    font-size: 11px;
    margin-bottom: 2px;
    margin-right: 2px;
}
.categories li:last-child {
    margin-right: 0;
}
.categories li a {
    color: #666;
    display: block;
    padding: 8px 9px;
}
.accordion .ui-accordion-header h3 {
    background: rgba(0, 0, 0, 0) url("../images/accordion_plus.png") no-repeat scroll right center;
    color: #666;
    padding-right: 13px;
}
.accordion .ui-accordion-header {
    border-bottom: 1px solid #e0e0e0;
    color: #666;
    cursor: pointer;
    padding: 12px 13px 12px 0;
}
.accordion .ui-accordion-header.ui-state-hover h3 {
    color: #3156a3;
}
.accordion .ui-accordion-header.ui-state-active {
    background: #3156a3 none repeat scroll 0 0;
    border-bottom: 1px solid #3156a3;
    margin-top: -1px;
    padding: 10px 12px;
}
.accordion .ui-accordion-header.ui-state-active h3 {
    background: rgba(0, 0, 0, 0) url("../images/accordion_minus.png") no-repeat scroll right center;
    color: #fff;
}
.accordion .ui-accordion-content {
    color: #666;
    line-height: 150%;
    padding: 20px 0;
}
.accordion.medium .ui-accordion-content {
    padding: 30px 0;
}
.accordion.wide .ui-accordion-content {
    padding: 0 0 30px;
}
.accordion.wide .tabs_navigation {
    margin-bottom: 30px;
}
.item_footer {
    line-height: 1;
    margin-top: 20px;
}
.accordion .ui-accordion-content .item_footer .more.blue {
    float: right;
    margin-right: 2px;
}
.accordion .ui-accordion-content .item_footer .more.blue:first-child {
    margin-right: 0;
}
.accordion.wide .about_img {
    height: auto;
    margin-bottom: 23px;
    width: 500px;
}
.accordion .doctors_list li.item {
    margin-top: 30px;
}
.accordion .doctors_list li.item:first-child {
    margin-top: 0;
}
.item_content {
    list-style: outside none none;
    margin-top: 30px;
}
.page_margin_top.item_content:first-child {
    margin-top: 30px;
}
.item_content:first-child {
    margin-top: 0;
}
.item_content .text {
    color: #666;
}
.item_content .text h3 {
    margin-bottom: 10px;
}
.features_image, .features_image img {
    display: block;
    height: 88px;
    width: 76px;
}
.item_content .thumb_image, .item_content .thumb_image img {
    display: block;
    height: 75px;
    width: 75px;
}
.item_content .thumb_image, .features_image {
    float: left;
    margin-right: 30px;
}
.sidebar_box .accordion .item_content .thumb_image, .sidebar_box .accordion .item_content .features_image {
    margin-right: 20px;
}
.item_content .text {
    float: right;
    line-height: 150%;
    width: 235px;
}
.columns .item_content .text {
    width: 374px;
}
.ui-tabs-hide {
    display: none;
}
.ui-tabs-panel p {
    padding: 24px 0 25px;
}
.tabs_navigation {
    clear: both;
    float: none;
    width: 100%;
}
.tabs_navigation li {
    float: left;
    margin-right: 20px;
    margin-top: 0;
}
.tabs_navigation li:last-child {
    margin-right: 0;
}
.tabs_navigation li a {
    border-bottom: 1px solid #e0e0e0;
    color: #666;
    display: block;
    padding: 8px 0;
    text-align: center;
    width: auto;
}
.tabs_navigation li a:hover, .tabs_navigation li a.selected, .tabs_navigation li.ui-tabs-active a {
    border-bottom-width: 2px;
    padding-bottom: 7px;
}
.tabs_box_navigation.sf-menu {
    clear: both;
    float: none;
}
.tabs_box_navigation.sf-menu li.submenu:hover::after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.tabs_box_navigation.sf-menu .tabs_box_navigation_selected {
    background: #3156a3 url("../images/dropdown_plus.png") no-repeat scroll 255px center;
    color: #ffffff;
    cursor: pointer;
    height: auto;
    padding: 13px 12px;
    width: 256px;
}
.tabs_box_navigation.sf-menu .tabs_box_navigation_selected:hover {
    background-color: #42b3e5;
    background-image: url("../images/accordion_minus.png");
}
.tabs_box_navigation.sf-menu li:hover ul, .tabs_box_navigation.sf-menu li.sfHover ul {
    border: 1px solid #42b3e5;
    top: 38px;
}
.tabs_box_navigation_hidden {
    display: none;
}
.columns {
}
.column_left, .column_right {
    width: 300px;
}
.column_left {
    float: left;
    margin-right: 30px;
}
.column_right {
    float: right;
}
.columns p {
    clear: both;
    padding: 10px 0;
}
.columns.full_width .column_left, .columns.full_width .column_right {
    width: 480px;
}
.columns.no_width .column_left, .columns.no_width .column_right {
    width: auto;
}
.columns.no_width .column_left {
    margin-right: 0;
}
.columns.full_width .columns .column_left, .columns.full_width .columns .column_right {
    width: 225px;
}
.page_right .columns .column_left, .page_right .columns .column_right {
    width: 132px;
}
.page_right .columns.no_padding .column_left, .page_right .columns.no_padding .column_right {
    line-height: 150%;
    width: 150px;
}
.columns_3 .column {
    float: left;
    margin-left: 30px;
    width: 310px;
}
.columns_3 .column:first-child {
    margin-left: 0;
}
.columns_3 .item_content .features_image, .columns_3 .features_image img, .features_icons_small .features_image, .features_icons_small .features_image img {
    height: 66px;
    width: 57px;
}
.columns_3 .item_content .text {
    width: 223px;
}
.dropcap {
    line-height: 150%;
}
.dropcap .dropcap_label {
    background-color: #3156a3;
    float: left;
    margin-right: 15px;
    padding: 7px 13px;
    text-align: center;
}
.dropcap .dropcap_label h3 {
    color: #fff;
}
.list {
    clear: both;
    padding: 25px 0;
}
.list li {
    background-position: left center;
    line-height: 150%;
    padding: 5px 0 5px 18px;
}
.list li a {
    border: medium none;
}
.list.top_marker li {
    background-position: left 8px;
}
.sidebar_box .list {
    padding-bottom: 0;
}
.info_list li {
    border-bottom: 1px solid #e0e0e0;
    line-height: 150%;
    padding: 10px 0;
}
.info_list li:first-child {
    padding-top: 0;
}
.info_list li label {
    color: #000;
    float: left;
    font-weight: bold;
    width: 92px;
}
.info_list li .text {
    color: #666;
    float: left;
    width: 388px;
}
.accordion.wide .columns .info_list li .text {
    width: 208px;
}
.announcement {
    background: #f0f0f0 none repeat scroll 0 0;
    padding: 20px 30px;
}
.announcement p {
    padding: 10px 0;
}
.announcement .vertical_align {
    height: 69px;
}
.pricing_plan {
    clear: both;
    float: left;
    margin-top: 13px;
}
.pricing_plan li {
    padding-left: 18px;
    width: 217px;
}
.timetable {
    color: #666;
    font-size: 11px;
    margin-top: 30px;
    width: 100%;
}
.timetable tbody tr {
    background: rgba(0, 0, 0, 0) url("../images/dotted_line.png") repeat-x scroll left top;
}
.timetable th, .timetable td:first-child {
    text-align: center;
    vertical-align: middle;
}
.timetable th, .timetable td {
    padding: 10px 15px 12px;
    width: 12.5%;
}
.timetable td {
    vertical-align: top;
}
.timetable .last {
    padding-right: 0;
}
.timetable .hours {
    color: #a6c3ff;
}
.timetable .event {
    background-color: #3156a3;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #fff;
    line-height: 140%;
}
.timetable .event a {
    color: #fff;
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}
.timetable .row_gray {
    background-color: #f0f0f0;
}
.timetable .event:hover {
    background-color: #42b3e5;
}
.timetable .event:hover .hours {
    color: #fff;
}
.timetable.small {
    display: none;
    font-size: 13px;
}
.tip {
    background: #3156a3 url("../images/icon_tip.png") no-repeat scroll 15px center;
    border-radius: 15px;
    color: #fff;
    float: right;
    padding: 10px 10px 10px 35px;
}
.tooltip {
    cursor: pointer;
}
.tooltip .tooltip_text {
    background: rgba(0, 0, 0, 0) url("../images/tooltip_arrow.png") no-repeat scroll 15px bottom;
    bottom: 100%;
    display: block;
    left: -19px;
    opacity: 0;
    padding-bottom: 15px;
    position: absolute;
    transition-duration: 0.25s;
    transition-property: opacity, visibility;
    transition-timing-function: cubic-bezier(0.35, 0, 0.35, 1);
    visibility: hidden;
    z-index: 1000;
}
.tooltip .tooltip_content {
    background: #42b3e5 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    font-family: arial,sans-serif;
    font-size: 11px;
    line-height: 150%;
    padding: 10px 15px 12px;
    text-align: left;
}
.tooltip:hover .tooltip_text {
    opacity: 1;
    visibility: visible;
}
.ui-tooltip-error .ui-tooltip-content, .ui-tooltip-success .ui-tooltip-content {
    color: #fff;
    font-family: arial;
    font-size: 13px;
}
.ui-tooltip-error .ui-tooltip-content, .ui-tooltip-success .ui-tooltip-content {
    border: medium none;
}
.ui-tooltip-content {
    padding: 10px 20px;
}
.ui-tooltip-error .ui-tooltip-content {
    background: #e9431c none repeat scroll 0 0;
}
.ui-tooltip-success .ui-tooltip-content {
    background: #61911b none repeat scroll 0 0;
}
.controls {
    padding: 0;
}
.controls li {
    float: left;
}
.controls .open_details, .controls .open_lightbox, .controls .open_video_lightbox, .controls .open_iframe_lightbox, .controls .close, .controls .prev, .controls .next {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    width: 40px;
}
.controls .close, .controls .prev, .controls .next {
    background-position: center center;
    border: 1px solid #e0e0e0;
    height: 30px;
    width: 30px;
}
.controls .open_details:hover, .controls .open_lightbox:hover, .controls .open_video_lightbox:hover, .controls .open_iframe_lightbox:hover {
    background-position: 0 -40px;
}
.controls .open_details {
    background-image: url("../images/media_icon_details.png");
    margin-left: 0;
}
.controls .open_lightbox {
    background-image: url("../images/media_icon_image.png");
}
.controls .open_video_lightbox {
    background-image: url("../images/media_icon_video.png");
}
.controls .open_iframe_lightbox {
    background-image: url("../images/media_icon_url.png");
}
.controls .close {
    background-image: url("../images/close_icon.png");
}
.slider_navigation .more {
    display: none;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {
    transition-duration: 0.8s;
}
.isotope {
    transition-property: height, width;
}
.isotope .isotope-item {
    transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    transition-duration: 0s;
}
.gallery {
    margin-left: auto;
    margin-right: auto;
}
.gallery_box {
    cursor: pointer;
    display: block;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
}
.accordion .gallery_box {
    margin-top: 0;
}
.gallery_box img {
    background: rgba(0, 0, 0, 0) url("../images/preloader.gif") no-repeat scroll center center;
    display: block;
    height: 150px;
    width: 225px;
}
.gallery_2_columns .gallery_box img {
    height: 300px;
    width: 480px;
}
.gallery_3_columns .gallery_box img {
    height: 200px;
    width: 310px;
}
.gallery_2_columns_sidebar .gallery_box img {
    height: 190px;
    width: 300px;
}
.accordion.wide .gallery_box img {
    height: 190px;
    width: 300px;
}
.gallery_box .description {
    background-color: #f0f0f0;
    background-position: 220px center;
    line-height: normal;
    padding: 15px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.gallery .description h3, .gallery_box .description h3, .gallery_box .description h5 {
    font-family: "arial";
    font-size: 13px;
}
.gallery .description h3, .gallery_box .description h3 {
    font-weight: bold;
}
.gallery_box .description h5 {
    color: #666666;
    margin-top: 5px;
}
.gallery_box:hover .description {
    background-color: #42b3e5;
}
.gallery_box:hover h3, .gallery_box:hover h5 {
    color: #fff;
}
.gallery_box .controls {
    background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;
    display: none;
    padding: 10px;
    position: absolute;
}
.gallery_box:hover .controls {
    display: block;
}
.gallery_box .item_details {
    border-bottom: 1px solid #e0e0e0;
    color: #666666;
    line-height: 150%;
    padding: 20px 0;
    text-align: center;
    width: 225px;
}
.gallery_box:hover .item_details {
    border-color: #42b3e5;
    border-width: 2px;
    padding-bottom: 19px;
}
.gallery_box .social_icons, .gallery_item_details_list .social_icons {
    margin-top: 10px;
}
.gallery_item_details_list {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 30px;
}
ul.gallery_item_details_list {
    display: none;
    height: 0;
    overflow: hidden;
}
.gallery_item_details_list li.gallery_item_details {
    display: none;
    position: relative;
}
.gallery_item_details_list .gallery_box {
    margin-right: 30px;
    margin-top: 0;
    width: 480px;
}
.gallery_item_details_list .details_box {
    width: 480px;
}
.gallery_item_details_list .details_box .controls li {
    margin-left: 2px;
}
.gallery_item_details_list .details_box .controls li:first-child {
    margin-left: 0;
}
.gallery_item_details_list .gallery_box img {
    background: rgba(0, 0, 0, 0) url("../images/preloader.gif") no-repeat scroll center center;
    display: block;
    height: auto;
    width: 480px;
}
.gallery_item_details_list .gallery_box .slider_navigation, .post_content .gallery_box .slider_navigation {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.gallery_item_details_list .gallery_box .slider_navigation .slider_control, .post_content .gallery_box .slider_navigation .slider_control, .gallery_item_details_list .gallery_box .slider_control a, .post_content .gallery_box .slider_control a {
    height: 30px;
}
.gallery_item_details_list .details_box .subheader {
    color: #59b42d;
    font-family: "Droid Serif";
    font-style: italic;
    margin-top: 5px;
}
.gallery_item_details_list .details_box p {
    clear: both;
    color: #666666;
    line-height: 150%;
    padding: 20px 0;
}
.gallery_item_details_list .details_box .columns {
    clear: both;
}
.gallery_item_details_list .details_box .column_left, .gallery_item_details_list .details_box .column_right {
    width: 210px;
}
.gallery_item_details_list .details_box .list {
    color: #c5c5c5;
    line-height: 150%;
}
.page_left_2 .gallery_item_details_list .gallery_box {
    margin-right: 0;
    width: 630px;
}
.page_left_2 .gallery_item_details_list .column_right {
    margin-top: 30px;
}
.page_left_2 .gallery_item_details_list .details_box {
    width: 630px;
}
.page_left_2 .gallery_item_details_list .gallery_box img {
    height: auto;
    width: 630px;
}
.photostream {
    margin-top: 20px;
    width: 340px;
}
.photostream .gallery_box {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.photostream .gallery_box img {
    height: 75px;
    width: 75px;
}
.gallery.horizontal_carousel li.gallery_box {
    float: left;
    margin-right: 30px;
}
.mc_preloader {
    background: rgba(0, 0, 0, 0) url("images/preloader.gif") no-repeat scroll center center;
    display: block;
    height: 150px;
}
.gallery_item_details_list .gallery_box .image_carousel img {
    display: none;
}
.image_carousel li {
    float: left;
}
#fancybox-title-float-main {
    background: #fff none repeat scroll 0 0;
    color: #000;
    padding: 0;
}
.contact_map {
    height: 300px;
    width: 100%;
}
.contact_data li {
    border-bottom: 1px solid #e0e0e0;
    color: #666;
    padding: 10px 0;
}
.contact_data li:first-child {
    border-top: 1px solid #e0e0e0;
}
.contact_data li .social_icon {
    float: left;
}
.contact_data li:hover .social_icon {
    background-position: 0 -29px;
    transition: background-position 0.3s ease 0s;
}
.contact_data li .value {
    clear: none;
    float: left;
    margin-left: 10px;
    padding: 5px 0;
}
.footer_banner_box_container {
}
.footer_banner_box_container .footer_banner_box:first-child {
    z-index: 3;
}
.footer_banner_box_container .footer_banner_box:last-child {
    z-index: 1;
}
.footer_banner_box {
    float: left;
    height: 60px;
    padding: 20px 15px;
    width: 300px;
    z-index: 2;
}
.footer_banner_box h2, .footer_banner_box h2 a {
    color: #fff;
}
.footer_banner_box a {
    background-position: right center;
    color: #fff;
    padding-right: 17px;
}
.footer_banner_box.super_light_blue {
    background-color: #42b3e5;
}
.footer_banner_box.light_blue {
    background-color: #0384ce;
}
.footer_banner_box.blue {
    background-color: #3156a3;
}
.footer_banner_box .more.light {
    color: #fff;
}
.footer_banner_box .more.light:hover {
    background-image: url("../images/icon_arrow_margin_right_white.png");
}
.footer_box_container {
    margin-top: 30px;
}
.footer_box {
    color: #909090;
    float: left;
    padding-right: 30px;
    width: 300px;
}
.footer_box_600 {
    color: #909090;
    float: left;
    padding-right: 30px;
    width: 600px;
}
.footer_box.last {
    padding-right: 0;
    width: 330px;
}
.footer_box p {
    color: #909090;
}
.footer_contact_info_container {
    clear: both;
}
.footer_contact_info_row {
    clear: both;
    padding-top: 5px;
}
.footer_contact_info_row:first-child {
    padding-top: 0;
}
.footer_contact_info_left {
    float: left;
    width: 150px;
}
.footer_contact_info_right {
    float: right;
    margin-left: 20px;
    width: 120px;
}
.opening_hours {
    margin-top: 12px;
}
.footer_recent_posts {
}
.copyright_area {
    border-top: 1px solid #353535;
    color: #909090;
    font-size: 11px;
    margin-top: 15px;
    padding: 15px 0;
}
.copyright_left {
    float: left;
}
.copyright_right {
    float: right;
}
.copyright_right .scroll_top {
    background-position: right center;
    color: #c5c5c5;
    font-size: 11px;
    padding-right: 15px;
}
.list li a {
    color: #666;
}
.list li a:hover, .scrolling_list li a:hover .left {
    color: #000;
}
.header_right a.scrolling_list_control_left, .header_right a.scrolling_list_control_right, .pagination li a, .categories li a, .scrolling_list li .number {
    border: 1px solid #e0e0e0;
}
.footer .header_right a.scrolling_list_control_left, .footer .header_right a.scrolling_list_control_right {
    border-color: #353535;
}
.footer .header_right a.scrolling_list_control_left:hover, .footer .header_right a.scrolling_list_control_right:hover {
    border-color: #42b3e5;
    color: #fff;
}
.header_right a.scrolling_list_control_left:hover, .header_right a.scrolling_list_control_right:hover, .pagination li a:hover, .pagination li.selected a, .tabs_navigation li a:hover, .tabs_navigation li a.selected, .tabs_navigation li.ui-tabs-active a, .categories li a:hover, .scrolling_list li a:hover .number, .controls .close:hover, .controls .prev:hover, .controls .next:hover {
    border-color: #42b3e5;
    color: #000;
}
.bread_crumb li, #comments_list .comment_details .posted_by a, .bread_crumb li a, .post_footer_details li a, #cancel_comment {
    color: #909090;
    text-decoration: underline;
}
.post_footer_details li a:hover, #comments_list .comment_details .posted_by a:hover, #cancel_comment:hover {
    color: #3156a3;
}
.sf-menu a:hover, .controls .prev:hover, .controls .next:hover, .controls .close:hover, .comments_number:hover, .scrolling_list_control_left:hover, .scrolling_list_control_right:hover, .home_box #upcoming_class_prev:hover, .home_box #upcoming_class_next:hover, .social_icon:hover, .pagination li a:hover, .tabs_navigation li a:hover, .footer a.social_icon:hover {
    text-decoration: none;
}
.footer a:hover, .post_content h2 a:hover, .list li a:hover, .footer_banner_box a:hover, .timetable .event a:hover, .items_list li a:hover, .item_content .text h3 a:hover, .scrolling_list li a:hover .left {
    text-decoration: underline;
}
a.social_icon, .header_left a, .sf-menu li ul li a, .slider_navigation .slider_control a, .home_box h2 a, .comment_box .comments_number a, .post_content a.post_image, .post_content h2 a, .post_footer_details li a, .item_content .thumb_image, .features_image, .features_image:hover, .item_content .text h3 a, .footer a, .footer_banner_box h2 a, .footer_banner_box a, .bread_crumb li a, .controls a, #fancybox-wrap a, #cancel_comment, .timetable .event a, .items_list li a, .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next, .gmnoprint a {
    border: medium none;
}
#cssawards {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 555;
}
#cssawards a {
    background: rgba(0, 0, 0, 0) url("../images/cssawards_featured_dark.png") no-repeat scroll 0 0;
    border: medium none;
    display: block;
    height: 115px;
    text-indent: -8000px;
    width: 115px;
}
#addFeedback{
	
}
p.contscts {
	 font-size: 17px;
}

a.lic_img {
	
}
a.lic_img img {
	
}

table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

.footer_banner_box_container p {
    line-height: 100%;
}
.sectionServicesTitleParent {
    background-color:#959fa9;
}
.sectionServicesTitleParent h3 {
    color:#ffffff;
    font-weight:bold;
    letter-spacing: 1px;
}

.maps {
    width:100%;
}
.maps .gismap {
    width:45%;
    float:left;
    margin: 2%;
}
.gismap iframe {
    width:100%;
}